/** server/pub/_styles/smoothio.css **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: rgba(16,32,64,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
::-webkit-selection {
  background-color: rgba(16,32,64,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
:-moz-selection {
  background-color: rgba(16,32,64,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
::-moz-selection {
  background-color: rgba(16,32,64,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
@font-face {
  font-family: "Pictos";
  src: url("/_/file/fonts/pictos-web.eot");
  src: local("☺"), url("/_/file/fonts/pictos-web.woff") format("woff"), url("/_/file/fonts/pictos-web.ttf") format("truetype"), url("/_/file/fonts/pictos-web.svg#webfontphKv1xv9") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes animspin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes animblink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.smio-picon {
  font-family: Pictos !important;
  line-height: 0;
  font-weight: 100;
}
.smio-blink {
  -webkit-animation: animblink 0.33s linear infinite alternate;
  -moz-animation: animblink 0.33s linear infinite alternate;
  -o-animation: animblink 0.33s linear infinite alternate;
  -ms-animation: animblink 0.33s linear infinite alternate;
  animation: animblink 0.33s linear infinite alternate;
}
.smio-spin {
  display: inline-block;
  color: #204a60;
  font-weight: bold;
  -webkit-animation: animspin 2s linear infinite;
  -moz-animation: animspin 2s linear infinite;
  -o-animation: animspin 2s linear infinite;
  -ms-animation: animspin 2s linear infinite;
  animation: animspin 2s linear infinite;
}
a {
  text-decoration: none;
  color: inherit;
}
img,
span,
div {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}
body {
  cursor: default;
  color: #303030;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, Sans-Serif;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  background-color: #d0c8b8;
  background-position: left top;
  overflow-x: hidden;
}
.smio-disabledfaded {
  opacity: 0.5;
}
.smio-disabledfaded, .smio-disabledfaded label, .smio-disabledfaded input, .smio-disabledfaded a {
	cursor: not-allowed;
}
.smio-offline,
.smio-invoking,
.smio-invoking label,
.smio-invoking a,
.smio-invoking input {
  cursor: wait !important;
}
.smio-offline {
  display: none;
  text-align: center;
  color: #f0f0f0;
  text-shadow: 0 0 0.6em #f0f0f0;
  padding: 0.3em 0 0.4em 0;
  font-size: 1.3em;
  position: relative;
  z-index: 2147483640;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(16,32,64,0.4);
  border-top: 0px none #f00;
  letter-spacing: -0.05em;
  background: rgba(16,32,64,0.7);
  background: -ms-linear-gradient(rgba(16,32,64,0.6) 1px, rgba(16,32,64,0.7) 3px);
  background: -moz-linear-gradient(rgba(16,32,64,0.6) 1px, rgba(16,32,64,0.7) 3px);
  background: -o-linear-gradient(rgba(16,32,64,0.6) 1px, rgba(16,32,64,0.7) 3px);
  background: -webkit-linear-gradient(rgba(16,32,64,0.6) 1px, rgba(16,32,64,0.7) 3px);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(16,32,64,0.6)), to(rgba(16,32,64,0.7)));
  background-size: 18px;
  -webkit-border-radius: 0 0 0.66em 0.66em;
  -moz-border-radius: 0 0 0.66em 0.66em;
  border-radius: 0 0 0.66em 0.66em;
}

/** server/pub/_packs/Core/Controls/_styl_LinkButtons.css **/
.smio-bigbutton-strip {
  text-align: center;
}
.smio-bigbutton-strip .smio-bigbutton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
}
.smio-bigbutton-strip .smio-bigbutton:first-child {
  -webkit-border-radius: 0.4em 0 0 0.4em;
  -moz-border-radius: 0.4em 0 0 0.4em;
  border-radius: 0.4em 0 0 0.4em;
}
.smio-bigbutton-strip .smio-bigbutton:last-child {
  -webkit-border-radius: 0 0.4em 0.4em 0;
  -moz-border-radius: 0 0.4em 0.4em 0;
  border-radius: 0 0.4em 0.4em 0;
}

/** server/pub/_packs/Core/Controls/_styl_SlidePanel.css **/
div.smio-slidepanel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
div.smio-slidepanel-scrollbox {
  position: relative;
  left: 0;
  width: 100%;
  top: 2em;
  overflow: hidden;
  white-space: nowrap;
}
div.smio-slidepanel-edge {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0.25em;
  bottom: 0.15em;
  width: 3em;
  overflow: hidden;
  white-space: nowrap;
}
.smio-slidepanel-edge-arr {
  padding: 0.1em;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 1em;
  text-align: center;
  -moz-box-shadow: 0em 0.08em 0.25em #909090;
  -webkit-box-shadow: 0em 0.08em 0.25em #909090;
  box-shadow: 0em 0.08em 0.25em #909090;
  border: 0.094em #a0a0a0 outset;
  background: -ms-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(48,48,48,0.65)), to(rgba(48,48,48,0.85)));
  background: -moz-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -webkit-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -o-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  font-size: 0.9em;
  text-shadow: 0 -0.094em #404040;
  color: #f0f0f0;
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  overflow: hidden;
  white-space: nowrap;
  text-transform: lowercase;
}
div.smio-slidepanel:hover .smio-slidepanel-edge-arr {
  opacity: 0.7;
}
div.smio-slidepanel-edge:hover .smio-slidepanel-edge-arr {
  opacity: 1;
}
div.smio-slidepanel-edge:active .smio-slidepanel-edge-arr {
  border: 0.094em #a0a0a0 inset;
  background: -ms-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(48,48,48,0.85)), to(rgba(48,48,48,0.65)));
  background: -moz-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -webkit-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -o-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
}
div.smio-slidepanel-edge-left {
  left: 0;
  background: -ms-linear-gradient(left, rgba(248,248,248,0.95), rgba(248,248,248,0.15));
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(248,248,248,0.95)), to(rgba(248,248,248,0.15)));
  background: -moz-linear-gradient(left, rgba(248,248,248,0.95), rgba(248,248,248,0.15));
  background: -webkit-linear-gradient(left, rgba(248,248,248,0.95), rgba(248,248,248,0.15));
  background: -o-linear-gradient(left, rgba(248,248,248,0.95), rgba(248,248,248,0.15));
}
div.smio-slidepanel-edge-left .smio-slidepanel-edge-arr {
  -webkit-border-radius: 1em 0.33em 0.33em 1em;
  -moz-border-radius: 1em 0.33em 0.33em 1em;
  border-radius: 1em 0.33em 0.33em 1em;
}
div.smio-slidepanel-edge-right .smio-slidepanel-edge-arr {
  -webkit-border-radius: 0.33em 1em 1em 0.33em;
  -moz-border-radius: 0.33em 1em 1em 0.33em;
  border-radius: 0.33em 1em 1em 0.33em;
}
div.smio-slidepanel-edge-right {
  right: 0;
  background: -ms-linear-gradient(left, rgba(248,248,248,0.15), rgba(248,248,248,0.95));
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(248,248,248,0.15)), to(rgba(248,248,248,0.95)));
  background: -moz-linear-gradient(left, rgba(248,248,248,0.15), rgba(248,248,248,0.95));
  background: -webkit-linear-gradient(left, rgba(248,248,248,0.15), rgba(248,248,248,0.95));
  background: -o-linear-gradient(left, rgba(248,248,248,0.15), rgba(248,248,248,0.95));
}
ul.smio-slidepanel {
  list-style-type: none;
}
ul.smio-slidepanel > li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/** server/pub/_packs/Core/Controls/_styl_Toggle.css **/
input.smio-toggleinput {
  padding: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
span.smio-toggleinput {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
span.smio-toggleinput.smio-toggleinput-checkbox.smio-enabled label,
span.smio-toggleinput.smio-toggleinput-checkbox.smio-enabled input.smio-toggleinput,
span.smio-toggleinput.smio-toggleinput-checkbox.smio-enabled .smio-toggleinput-btnlabel,
span.smio-toggleinput.smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled label,
span.smio-toggleinput.smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled input.smio-toggleinput,
span.smio-toggleinput.smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel {
  cursor: pointer;
}
.smio-toggleinput-btn {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0 0.4em 0 0;
  overflow: hidden;
  white-space: nowrap;
}
.smio-toggleinput-btnbtn {
  display: inline-block;
  border: 0.094em outset #bcf;
  position: relative;
  top: 0.125em;
  left: 0;
  width: 0.9em;
  height: 0.9em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background: -ms-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(12,24,96,0)), to(rgba(12,24,96,0.12)));
  background: -moz-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -webkit-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -o-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
}
.smio-toggleinput-checked .smio-toggleinput-btnbtn {
  background: -ms-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(12,24,96,0.12)), to(rgba(12,24,96,0)));
  background: -moz-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -webkit-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -o-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  border: 0.094em inset #bcf;
}
.smio-toggleinput-radio .smio-toggleinput-btnbtn {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.smio-toggleinput-btnglyph {
  font-size: 1.25em;
  color: #406c80;
  position: absolute;
  top: -0.15em;
  left: -0.02em;
}
.smio-toggleinput-radio.smio-toggleinput-checked .smio-toggleinput-btnglyph {
  display: inline-block;
  top: 21.5%;
  right: 21.5%;
  bottom: 21.5%;
  left: 21.5%;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #406c80;
  background: -webkit-gradient(radial, 3.5 3, 2.5, 3.5 3, 0.25, from(#406c80), to(#c0d8ff));
  background: -moz-radial-gradient(45% 35% 0deg, circle closest-side, #c0d8ff, #406c80);
}
.smio-toggleinput-btnlabel {
  padding-right: 0.4em;
  border: 0.094em outset transparent;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.smio-toggleinput-focused .smio-toggleinput-btnbtn,
.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn,
.smio-enabled.smio-toggleinput-checkbox .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn {
  border: 0.094em outset transparent;
  background: transparent;
}
.smio-toggleinput-focused,
.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover,
.smio-toggleinput-checkbox.smio-enabled .smio-toggleinput-btnlabel:hover {
  border: 0.094em outset #bcf;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background: -ms-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(12,24,96,0)), to(rgba(12,24,96,0.12)));
  background: -moz-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -webkit-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
  background: -o-linear-gradient(rgba(12,24,96,0), rgba(12,24,96,0.12));
}
.smio-toggleinput-radio .smio-toggleinput-focused,
.smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.smio-toggleinput-checked .smio-toggleinput-focused,
.smio-toggleinput-checkbox.smio-toggleinput-checked.smio-enabled .smio-toggleinput-btnlabel:hover {
  background: -ms-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(12,24,96,0.12)), to(rgba(12,24,96,0)));
  background: -moz-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -webkit-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  background: -o-linear-gradient(rgba(12,24,96,0.12), rgba(12,24,96,0));
  border: 0.094em inset #bcf;
}

/** server/pub/_packs/Core/Controls/_styl_TextInput.css **/
input.smio-textinput {
  cursor: text;
  background: transparent;
  border: 0px none #f00;
  border-bottom: 0.094em dotted #c0c0c0;
  padding: 0.25em;
  font-weight: bold;
  -o-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  -o-user-drag: auto;
  -moz-user-drag: auto;
  -webkit-user-drag: auto;
  -ms-user-drag: auto;
  user-drag: auto;
  width: 17em;
}
input.smio-textinput::-webkit-input-placeholder {
  font-weight: normal;
  font-style: italic;
  color: #c0c0c0;
}
input.smio-textinput:-moz-placeholder {
  font-weight: normal;
  font-style: italic;
  color: #c0c0c0;
}
span.smio-textinput.smio-enabled input.smio-textinput:hover {
  border-bottom: 0.094em solid transparent;
  -moz-box-shadow: 0 0.07em 0.28em #909090 inset;
  -webkit-box-shadow: 0 0.07em 0.28em #909090 inset;
  box-shadow: 0 0.07em 0.28em #909090 inset;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
input.smio-textinput:focus {
  font-weight: normal;
  background: #fff;
  border-bottom: 0.094em solid transparent;
  -moz-box-shadow: 0 0.07em 0.28em #909090 inset;
  -webkit-box-shadow: 0 0.07em 0.28em #909090 inset;
  box-shadow: 0 0.07em 0.28em #909090 inset;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
input.smio-textinput[readonly]:focus {
  background: #f0f0f0;
}

/** server/pub/_packs/Core/Controls/_styl_Console.css **/
.smio-console {
  text-align: center;
  overflow: hidden;
}
.smio-console-top {
  background: rgba(255,255,255,0.6);
  -moz-box-shadow: 0 0 12px #000;
  -webkit-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
  position: fixed;
  width: 100%;
  top: 0;
}
.smio-console-ever {
  height: 32px;
}
.smio-console-main {
  background: rgba(128,128,128,0.4);
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 32px;
}
.smio-console-bottom {
  background: rgba(0,0,0,0.7);
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #303030;
  -moz-box-shadow: 0 0 16px #303030;
  -webkit-box-shadow: 0 0 16px #303030;
  box-shadow: 0 0 16px #303030;
}

/** server/pub/_packs/Core/Controls/_styl_LinkButton.css **/
.smio-bigbutton2 {
  display: inline-block;
  padding: 0.33em 1em;
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(0,0,0,0.05);
  color: #707070;
  text-shadow: 0 1px #fff;
  border: 1px solid rgba(0,0,0,0.25);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
  -webkit-box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
  box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
}
.smio-bigbutton {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 1.15em;
  font-weight: bold;
  color: #505050;
  text-shadow: 0 1px #f0f0f0;
  border: 0.094em outset rgba(255,255,255,0.5);
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -0.05em;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
}
.smio-bigbutton.smio-hasinvwarn {
  background-color: rgba(255,160,0,0.25);
}
.smio-bigbutton.smio-enabled:hover,
.smio-bigbutton.smio-enabled:focus {
  background-color: rgba(128,208,255,0.25);
  color: #303030;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
}
.smio-bigbutton.smio-enabled:active {
  background-color: rgba(128,208,255,0.25);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
  box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
}

/** server/pub/_packs/Core/Controls/_styl_InvokeWarningPopup.css **/
.smio-invwarn {
  opacity: 0;
  display: inline-block;
  z-index: 2147483640;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: 20em;
  white-space: normal;
  margin-left: -20px;
  line-height: 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.smio-invwarn-intro {
  color: #606060;
  font-size: 0.9em;
}
.smio-invwarn-btns {
  visibility: visible;
  padding: 0.66em;
  overflow: hidden;
  font-size: 0.9em;
}
.smio-invwarn:hover .smio-invwarn-btns {
  visibility: visible;
}
.smio-invwarn-btns.smio-bigbutton-strip {
  text-align: right;
}
.smio-invwarn-btns a.smio-bigbutton {
  font-weight: normal;
  letter-spacing: 0;
  position: relative;
  padding-left: 1.8em;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-icon {
  font-size: 1.3em;
  opacity: 0.6;
  display: inline-block;
  position: absolute;
  left: 0.266em;
  top: 0.266em;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-cancel {
  color: #800;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-retry {
  color: #070;
}
.smio-invwarn-msg {
  padding-top: 0.33em;
  xfont-weight: bold;
}
.smio-invwarn-msg-noquote:before,
.smio-invwarn-msg-noquote:after,
.smio-invwarn-msg-quote:before,
.smio-invwarn-msg-quote:after {
  color: #a0a0a0;
}
.smio-invwarn-msg-quote:before {
  content: "❝";
}
.smio-invwarn-msg-quote:after {
  content: "❞";
}
a.smio-invwarn-close {
  width: 0.9em;
  height: 0.9em;
  text-align: center;
  line-height: 0.8;
  margin-right: 0.33em;
  margin-top: 0.33em;
  padding-top: 0.1em;
  padding-right: 0.1em;
  float: right;
  display: inline-block;
  visibility: hidden;
  border: 1px outset transparent;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  overflow: hidden;
  white-space: nowrap;
}
.smio-invwarn:hover a.smio-invwarn-close {
  visibility: visible;
}
a.smio-invwarn-close:active {
  background-color: #fe9;
  border: 1px inset #c0c0c0;
}
a.smio-invwarn-close:hover,
a.smio-invwarn-close:focus {
  background-color: #fe9;
  border: 1px outset #c0c0c0;
}
.smio-invwarn-edge {
  display: inline-block;
  margin-left: 1em;
  height: 1em;
  padding: 0 1em 0 1em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.smio-invwarn-arr {
  background-color: #fe9;
  display: inline-block;
  max-width: 1.5em;
  max-height: 1.5em;
  position: relative;
  top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  white-space: nowrap;
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
}
.smio-invwarn-box {
  background: -ms-linear-gradient(#fe9, rgba(255,238,153,0.8));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe9), to(rgba(255,238,153,0.8)));
  background: -moz-linear-gradient(#fe9, rgba(255,238,153,0.8));
  background: -webkit-linear-gradient(#fe9, rgba(255,238,153,0.8));
  background: -o-linear-gradient(#fe9, rgba(255,238,153,0.8));
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.smio-invwarn-inner {
  line-height: 1.25;
  font-size: 0.8em;
  padding: 1.5em 0 0.25em 2em;
  overflow: hidden;
}

/** server/pub/_packs/Core/ServerSetup/_styl_InitialHubSetup.css **/
div.smio-setup {
  -moz-box-shadow: 0 0.4em 4.8em #909090;
  -webkit-box-shadow: 0 0.4em 4.8em #909090;
  box-shadow: 0 0.4em 4.8em #909090;
  line-height: 1.25;
  position: absolute;
  top: 0;
  right: 14%;
  left: 14%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-border-radius: 0 0 0.8em 0.8em;
  -moz-border-radius: 0 0 0.8em 0.8em;
  border-radius: 0 0 0.8em 0.8em;
}
@media only screen and (max-width: 1024px) {
  div.smio-setup {
    position: absolute;
    top: 0;
    right: 6%;
    left: 6%;
  }
}
.smio-setup-outer {
  padding: 1em;
}
.smio-setup-outer-top {
  background: -ms-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.88));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.88)));
  background: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.88));
  background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.88));
  background: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.88));
  overflow: hidden;
  white-space: nowrap;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.smio-setup-inner {
  background: rgba(255,255,255,0.92);
  -moz-box-shadow: 0 0.062em 0.35em #b0b0b0 inset;
  -webkit-box-shadow: 0 0.062em 0.35em #b0b0b0 inset;
  box-shadow: 0 0.062em 0.35em #b0b0b0 inset;
  padding: 0 0.2em 0 0.2em;
  overflow: hidden;
  white-space: nowrap;
}
.smio-setup-header {
  font-size: 2em;
  color: #a40;
  text-shadow: 0 0 0.6em #fff;
  padding-left: 1em;
  letter-spacing: -0.05em;
}
.smio-setup-header-detail {
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
.smio-setup-header-detail:hover,
.smio-setup-header-detail:focus {
  text-decoration: underline;
  opacity: 1;
}
div.smio-setup:hover .smio-setup-header-detail {
  opacity: 1;
}
.smio-setup-header-desc {
  color: #707070;
  font-size: 1.25em;
  text-shadow: 0 0.074em #fff;
  padding-left: 4em;
  letter-spacing: -0.05em;
}
.smio-setup-stepslide > .smio-setup-stepbox {
  padding: 0 0 3em 0;
  width: 70%;
}
.smio-setup-stepslide .smio-slidepanel-edge {
  width: 15%;
}
.smio-setup-stepbox-title {
  font-size: 1.6em;
  text-shadow: 0.05em 0.05em 0.15em #000;
  color: #f5f5f5;
  font-weight: 900;
  letter-spacing: -0.08em;
  text-transform: lowercase;
}
.smio-setup-stepbox-form {
  padding: 1em 0 0 1.6em;
  color: #606060;
  white-space: normal;
}
.smio-setup-stepbox-form span.smio-textinput {
  display: block;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  white-space: nowrap;
}
.smio-setup-stepbox-form-label {
  padding: 2em 0 0.5em 0;
  color: #909090;
}
li#sm_stepslide_items_finish .smio-setup-stepbox-form-label {
  padding-top: 0;
}
.smio-setup-stepbox-form #sm_stepslide_owner span.smio-toggleinput {
  display: block;
  padding: 0.8em 0 0 9em;
}
ul#sm_stepslide_hubhints {
  padding-left: 6.5em;
}
.smio-setup-stepbox-form span.smio-toggleinput-unchecked {
  color: #909090;
}
#sm_stepslide_bg {
  display: block;
  padding: 1em 0em;
}
#sm_stepslide_bg .smio-toggleinput-btnlabel {
  opacity: 0;
  width: 100%;
  height: 100%;
}
#sm_stepslide_bg .smio-toggleinput {
  margin: 0em 0.35em;
  background-repeat: no-repeat;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-position: 2px 2px;
  -moz-box-shadow: 0em 0.1em 0.66em #606060;
  -webkit-box-shadow: 0em 0.1em 0.66em #606060;
  box-shadow: 0em 0.1em 0.66em #606060;
}
#sm_stepslide_bg .smio-toggleinput-hasfocused {
  -moz-box-shadow: 0em 0.1em 0.75em #4068a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #4068a0;
  box-shadow: 0em 0.1em 0.75em #4068a0;
}
#sm_stepslide_bg .smio-toggleinput-checked {
  opacity: 1;
  width: 96px;
  height: 64px;
  background-size: 92px 60px;
}
#sm_stepslide_bg .smio-toggleinput-unchecked {
  opacity: 0.5;
  width: 80px;
  height: 53px;
  background-size: 76px 49px;
}
#sm_stepslide_bg .smio-toggleinput-unchecked:hover {
  opacity: 1;
}
.smio-setup-stepbox-form span.smio-textinput label {
  display: inline-block;
  vertical-align: center;
  padding: 1em 1em 1em 0;
  width: 8em;
}
.smio-setup-stepbox-form span.smio-textinput label#sm_stepslide_hub_title_label {
  width: 4em;
}
.smio-setup-stepbox-form span.smio-textinput input#sm_stepslide_hub_title_input {
  width: 23.5em;
}
.smio-setup-steptabs {
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: 0 0 0.8em 0.8em;
  -moz-border-radius: 0 0 0.8em 0.8em;
  border-radius: 0 0 0.8em 0.8em;
  background: -ms-linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.5));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.92)), to(rgba(255,255,255,0.5)));
  background: -moz-linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.5));
  background: -webkit-linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.5));
  background: -o-linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.5));
}
.smio-setup-steptab {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  font-size: 0.95em;
  padding: 0.2em 1em 0.2em 1em;
  display: inline-block;
  color: #606060;
  text-shadow: 0 0.094em #fff;
  text-transform: lowercase;
}
.smio-setup-steptab-inactive:hover,
.smio-setup-steptab-inactive:focus {
  text-decoration: underline;
}
.smio-setup-steptab-active {
  cursor: default;
  -moz-box-shadow: 0 0.066em 0.3em #606060 inset;
  -webkit-box-shadow: 0 0.066em 0.3em #606060 inset;
  box-shadow: 0 0.066em 0.3em #606060 inset;
  background: rgba(0,0,0,0.1);
  color: #505050;
}
.smio-setup-createbtn {
  text-align: right;
  padding: 1em 0;
  width: 29em;
}

