div.smio-setup {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  -moz-box-shadow: 0px 6px 48px #909090;
  -webkit-box-shadow: 0px 6px 48px #909090;
  box-shadow: 0px 6px 48px #909090;
  line-height: 1.25;
  overflow: hidden;
}
.smio-setup-outer {
  padding: 1em;
  background: rgba(255,255,255,0.85);
}
.smio-setup-inner {
  padding: 1em;
  background: rgba(255,255,255,0.95);
  -moz-box-shadow: 0 0.062em 0.3em #909090 inset;
  -webkit-box-shadow: 0 0.062em 0.3em #909090 inset;
  box-shadow: 0 0.062em 0.3em #909090 inset;
}
.smio-setup-header {
  font-size: 1.8em;
  color: #303030;
}
.smio-setup-header-desc {
  color: #808080;
  font-size: 1.25em;
}
