{
	"smoothio": {
		"autorestart": { "on_files_changed": true, "on_crash_after_uptime_secs": 120 },
		"logging": { "details": false, "stack": false, "path": "server/log/smoothio.log" },
		"language": "de",
		"dns_preresolve": { "enabled": false, "hostnames": { "localhost": "127.0.0.1", "$localhostname": "127.0.0.1" } }
	},
	"servers": {
		"server1": { "host": "localhost", "port": 2020 },
		"server2": { "host": "localhost", "port": 4040 }
	},
	"mongodb": {
		"host": "127.0.0.1",
		"port": 61234,
		"dbpath": "server/dbs/",
		"logpath": "server/log/mongodb/mongodb.log",
		"auth": { "user": "admin", "pass": "admin" }
	}
}

