html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: rgba(0,0,0,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
::-webkit-selection {
  background-color: rgba(0,0,0,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
:-moz-selection {
  background-color: rgba(0,0,0,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
::-moz-selection {
  background-color: rgba(0,0,0,0.75) !important;
  color: #f0f0f0 !important;
  text-shadow: none !important;
}
.smio-bigbutton2 {
  display: inline-block;
  padding: 0.33em 1em;
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(0,0,0,0.05);
  color: #707070;
  text-shadow: 0 1px #fff;
  border: 1px solid rgba(0,0,0,0.25);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
  -webkit-box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
  box-shadow: 0 4px 4px rgba(255,255,255,0.6) inset, 0px -9px 10px -4px rgba(255,255,255,0.9) inset, 0 -20px 1px -6px rgba(0,0,0,0.125) inset;
}
.smio-bigbutton {
  display: inline-block;
  padding: 0.4em 1em;
  font-size: 1.15em;
  font-weight: bold;
  color: #707070;
  text-shadow: 0 1px #f0f0f0;
  border: 0.094em outset rgba(255,255,255,0.5);
  letter-spacing: -0.05em;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.15);
}
.smio-disabled, .smio-disabled * {
	cursor: not-allowed;
}
.smio-bigbutton.smio-enabled:hover,
.smio-bigbutton.smio-enabled:focus {
  background-color: rgba(0,0,0,0.01);
  color: #606060;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.35);
}
.smio-bigbutton.smio-enabled:active {
  color: #505050;
  background-color: rgba(0,0,0,0.01);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
  box-shadow: 0 0 7px rgba(0,0,0,0.5), inset 0 15px 30px rgba(0,0,0,0.25), inset 0 -10px 20px rgba(255,255,255,0.1), inset 0 -10px rgba(255,255,255,0.05), inset 0 -1px rgba(255,255,255,0.15);
}
a {
  text-decoration: none;
  color: inherit;
}
img,
span,
div {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}
body {
  cursor: default;
  color: #303030;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue, Sans-Serif;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  background-color: #d0c8b8;
}
.smio-disabledfaded {
  opacity: 0.5;
}
.smio-blocking-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483640;
  text-align: center;
  padding: 18% 8% 8% 8%;
  line-height: 1.3em;
  font-size: 1.7em;
  color: #f0f0f0;
  text-shadow: 0 0 0.6em #000;
  letter-spacing: -0.05em;
  background: rgba(0,0,0,0.7);
  background: -ms-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -xmoz-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -o-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -webkit-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.7)));
  background-size: 0.3em;
}
@-webkit-keyframes offblink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#smio_offline_blink {
  -webkit-animation-name: offblink;
  -webkit-animation-duration: 0.33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  text-decoration: blink;
}
