html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -o-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: rgba(48,48,48,0.48);
  color: #f0f0f0;
  text-shadow: none;
}
::-moz-selection {
  background-color: rgba(48,48,48,0.48);
  color: #f0f0f0;
  text-shadow: none;
}
a {
  text-decoration: none;
  color: #303030;
}
img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}
body {
  cursor: default;
  user-select: none;
  color: #303030;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, Helvetica Neue, Sans-Serif;
  background-color: #c09050;
  background-size: 1.3em, 2.9em, 3.7em, 5.3em;
  background: -webkit-linear-gradient(0, rgba(255,255,255,0.07) 50%, transparent 50%), -webkit-linear-gradient(0, rgba(255,255,255,0.13) 50%, transparent 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,0.17) 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,0.19) 50%);
  background: -o-linear-gradient(0, rgba(255,255,255,0.07) 50%, transparent 50%), -o-linear-gradient(0, rgba(255,255,255,0.13) 50%, transparent 50%), -o-linear-gradient(0, transparent 50%, rgba(255,255,255,0.17) 50%), -o-linear-gradient(0, transparent 50%, rgba(255,255,255,0.19) 50%);
  background: -moz-linear-gradient(0, rgba(255,255,255,0.07) 50%, transparent 50%), -moz-linear-gradient(0, rgba(255,255,255,0.13) 50%, transparent 50%), -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,0.17) 50%), -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,0.19) 50%);
  background: -ms-linear-gradient(0, rgba(255,255,255,0.07) 50%, transparent 50%), -ms-linear-gradient(0, rgba(255,255,255,0.13) 50%, transparent 50%), -ms-linear-gradient(0, transparent 50%, rgba(255,255,255,0.17) 50%), -ms-linear-gradient(0, transparent 50%, rgba(255,255,255,0.19) 50%);
}
.smio-main {
  height: 100%;
  overflow: hidden;
}
.smio-blocking-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483640;
  text-align: center;
  padding: 18% 8% 8% 8%;
  line-height: 1.3em;
  font-size: 1.7em;
  color: #f0f0f0;
  text-shadow: 0 0 0.6em #fff;
  letter-spacing: -0.05em;
  background: rgba(0,0,0,0.7);
  background: -ms-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -xmoz-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -o-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -webkit-linear-gradient(rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.7) 75%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.7)));
  background-size: 0.25em;
}
