input.smio-toggleinput {
  padding: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
span.smio-toggleinput {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
span.smio-toggleinput.smio-enabled label,
span.smio-toggleinput.smio-enabled input.smio-toggleinput,
span.smio-toggleinput.smio-enabled .smio-toggleinput-btnlabel {
  cursor: pointer;
}
.smio-toggleinput-btn {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0 0.4em 0 0;
}
.smio-toggleinput-btnbtn {
  display: inline-block;
  border: 0.094em outset #ccc;
  position: relative;
  top: 0.125em;
  left: 0;
  width: 0.9em;
  height: 0.9em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background: -ms-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,28,0,0)), to(rgba(0,28,0,0.12)));
  background: -moz-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -webkit-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -o-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
}
.smio-toggleinput-checked .smio-toggleinput-btnbtn {
  background: -ms-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,28,0,0.12)), to(rgba(0,28,0,0)));
  background: -moz-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -webkit-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -o-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  border: 0.094em inset #ccc;
}
.smio-toggleinput-radio .smio-toggleinput-btnbtn {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.smio-toggleinput-btnglyph {
  font-size: 1.25em;
  color: #3060a0;
  position: absolute;
  top: -0.15em;
  left: -0.02em;
}
.smio-toggleinput-radio.smio-toggleinput-checked .smio-toggleinput-btnglyph {
  display: inline-block;
  top: 21.5%;
  right: 21.5%;
  bottom: 21.5%;
  left: 21.5%;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #204060;
  background: -webkit-gradient(radial, 3 3, 4, 3 3, 1, from(#204060), to(#7090b0));
  background: -moz-radial-gradient(40% 40% 0deg, circle closest-side, #7090b0, #204060);
}
.smio-toggleinput-btnlabel {
  padding-right: 0.4em;
  border: 0.094em outset transparent;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.smio-toggleinput-focused .smio-toggleinput-btnbtn,
.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn,
.smio-enabled.smio-toggleinput-checkbox .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn {
  border: 0.094em outset transparent;
  background: transparent;
}
.smio-toggleinput-focused,
.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover,
.smio-toggleinput-checkbox.smio-enabled .smio-toggleinput-btnlabel:hover {
  border: 0.094em outset #ccc;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background: -ms-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,28,0,0)), to(rgba(0,28,0,0.12)));
  background: -moz-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -webkit-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
  background: -o-linear-gradient(rgba(0,28,0,0), rgba(0,28,0,0.12));
}
.smio-toggleinput-radio .smio-toggleinput-focused,
.smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.smio-toggleinput-checked .smio-toggleinput-focused,
.smio-toggleinput-checkbox.smio-toggleinput-checked.smio-enabled .smio-toggleinput-btnlabel:hover {
  background: -ms-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,28,0,0.12)), to(rgba(0,28,0,0)));
  background: -moz-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -webkit-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  background: -o-linear-gradient(rgba(0,28,0,0.12), rgba(0,28,0,0));
  border: 0.094em inset #ccc;
}
