.smio-invwarndetails {
  display: inline-block;
  z-index: 2147483640;
  position: absolute;
  width: auto;
  height: auto;
  white-space: normal;
  margin-top: -1em;
  margin-left: -20px;
  -webkit-border-radius: 0.33em;
  -moz-border-radius: 0.33em;
  border-radius: 0.33em;
  -moz-transition: all 0.33s;
  -webkit-transition: all 0.33s;
  -o-transition: all 0.33s;
  -ms-transition: all 0.33s;
  transition: all 0.33s;
}
.smio-invwarndetails-edge {
  text-align: center;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}
.smio-invwarndetails-arr {
  background-color: #fe9;
  display: inline-block;
  max-width: 1.65em;
  max-height: 1.65em;
  position: relative;
  top: 1em;
  width: 1.65em;
  height: 1.65em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  white-space: nowrap;
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
}
.smio-invwarndetails-box {
  background-color: #fe9;
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.smio-invwarndetails-inner {
  font-size: 0.8em;
  padding: 0.66em;
}
