.smio-invwarn {
  opacity: 0;
  display: inline-block;
  z-index: 2147483640;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: 20em;
  white-space: normal;
  margin-left: -20px;
  line-height: 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.smio-invwarn-intro {
  color: #606060;
  font-size: 0.9em;
}
.smio-invwarn-btns {
  visibility: hidden;
  padding: 0.66em;
  overflow: hidden;
  font-size: 0.9em;
}
.smio-invwarn:hover .smio-invwarn-btns {
  visibility: visible;
}
.smio-invwarn-btns a.smio-bigbutton {
  font-weight: normal;
  letter-spacing: 0;
  position: relative;
  padding-left: 1.8em;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-icon {
  font-size: 1.4em;
  opacity: 0.6;
  display: inline-block;
  position: absolute;
  left: 0.3em;
  top: 0.05em;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-cancel {
  color: #800;
}
.smio-invwarn-btns a.smio-bigbutton span.smio-invbtn-retry {
  color: #070;
}
.smio-invwarn-msg {
  padding-top: 0.33em;
  font-weight: bold;
}
a.smio-invwarn-close {
  width: 0.9em;
  height: 0.9em;
  text-align: center;
  line-height: 0.8;
  margin-right: 0.33em;
  margin-top: 0.33em;
  padding-top: 0.1em;
  padding-right: 0.1em;
  float: right;
  display: inline-block;
  visibility: hidden;
  border: 1px outset transparent;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  overflow: hidden;
  white-space: nowrap;
}
.smio-invwarn:hover a.smio-invwarn-close {
  visibility: visible;
}
a.smio-invwarn-close:active {
  background-color: #fe9;
  border: 1px inset #c0c0c0;
}
a.smio-invwarn-close:hover,
a.smio-invwarn-close:focus {
  background-color: #fe9;
  border: 1px outset #c0c0c0;
}
.smio-invwarn-edge {
  display: inline-block;
  margin-left: 1em;
  height: 1em;
  padding: 0 1em 0 1em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.smio-invwarn-arr {
  background-color: #fe9;
  display: inline-block;
  max-width: 1.5em;
  max-height: 1.5em;
  position: relative;
  top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  white-space: nowrap;
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
}
.smio-invwarn-box {
  background: -ms-linear-gradient(#fe9, rgba(255,238,153,0.85));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe9), to(rgba(255,238,153,0.85)));
  background: -moz-linear-gradient(#fe9, rgba(255,238,153,0.85));
  background: -webkit-linear-gradient(#fe9, rgba(255,238,153,0.85));
  background: -o-linear-gradient(#fe9, rgba(255,238,153,0.85));
  -moz-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-box-shadow: 0em 0.1em 0.75em #a0a0a0;
  box-shadow: 0em 0.1em 0.75em #a0a0a0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.smio-invwarn-inner {
  line-height: 1.25;
  font-size: 0.8em;
  padding: 1.5em 1.5em 0 1.5em;
}
