div.smio-slidepanel {
  position: relative;
}
div.smio-slidepanel-scrollbox {
  overflow: hidden;
  white-space: nowrap;
}
div.smio-slidepanel-edge {
  position: absolute;
  top: 0.2em;
  bottom: 0.1em;
  width: 3em;
}
div.smio-slidepanel-edge-left {
  left: 0em;
  background: rgba(250,250,250,0.9);
  background: -ms-linear-gradient(left, rgba(250,250,250,0.9), rgba(250,250,250,0.3));
  background: -moz-linear-gradient(left, rgba(250,250,250,0.9), rgba(250,250,250,0.3));
  background: -webkit-linear-gradient(left, rgba(250,250,250,0.9), rgba(250,250,250,0.3));
  background: -o-linear-gradient(left, rgba(250,250,250,0.9), rgba(250,250,250,0.3));
}
div.smio-slidepanel-edge-right {
  right: 0em;
  background: rgba(250,250,250,0.3);
  background: -ms-linear-gradient(left, rgba(250,250,250,0.3), rgba(250,250,250,0.9));
  background: -moz-linear-gradient(left, rgba(250,250,250,0.3), rgba(250,250,250,0.9));
  background: -webkit-linear-gradient(left, rgba(250,250,250,0.3), rgba(250,250,250,0.9));
  background: -o-linear-gradient(left, rgba(250,250,250,0.3), rgba(250,250,250,0.9));
}
ul.smio-slidepanel {
  list-style-type: none;
}
ul.smio-slidepanel > li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
