.smio-swipebehavior {
  list-style-type: none;
  overflow: scroll;
  white-space: nowrap;
  vertical-align: top;
}
.smio-swipebehavior > li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
