div.smio-slidepanel {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
div.smio-slidepanel-scrollbox {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  left: 0;
  top: 2em;
}
div.smio-slidepanel-edge {
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0.25em;
  bottom: 0.15em;
  width: 3em;
  overflow: hidden;
  white-space: nowrap;
}
.smio-slidepanel-edge-arr {
  padding: 0.1em;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 1em;
  text-align: center;
  -moz-box-shadow: 0em 0.08em 0.25em #909090;
  -webkit-box-shadow: 0em 0.08em 0.25em #909090;
  box-shadow: 0em 0.08em 0.25em #909090;
  border: 0.092em #a0a0a0 outset;
  background: -ms-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(48,48,48,0.65)), to(rgba(48,48,48,0.85)));
  background: -moz-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -webkit-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  background: -o-linear-gradient(rgba(48,48,48,0.65), rgba(48,48,48,0.85));
  font-size: 0.9em;
  text-shadow: 0 -0.092em #404040;
  color: #f0f0f0;
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  overflow: hidden;
  white-space: nowrap;
  text-transform: lowercase;
}
div.smio-slidepanel:hover .smio-slidepanel-edge-arr {
  opacity: 0.7;
}
div.smio-slidepanel-edge:hover .smio-slidepanel-edge-arr {
  opacity: 1;
}
div.smio-slidepanel-edge:active .smio-slidepanel-edge-arr {
  background: -ms-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(48,48,48,0.85)), to(rgba(48,48,48,0.65)));
  background: -moz-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -webkit-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
  background: -o-linear-gradient(rgba(48,48,48,0.85), rgba(48,48,48,0.65));
}
div.smio-slidepanel-edge-left {
  left: 0;
  background: -ms-linear-gradient(left, rgba(250,250,250,0.95), rgba(250,250,250,0.15));
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(250,250,250,0.95)), to(rgba(250,250,250,0.15)));
  background: -moz-linear-gradient(left, rgba(250,250,250,0.95), rgba(250,250,250,0.15));
  background: -webkit-linear-gradient(left, rgba(250,250,250,0.95), rgba(250,250,250,0.15));
  background: -o-linear-gradient(left, rgba(250,250,250,0.95), rgba(250,250,250,0.15));
}
div.smio-slidepanel-edge-left .smio-slidepanel-edge-arr {
  -webkit-border-radius: 1em 0.33em 0.33em 1em;
  -moz-border-radius: 1em 0.33em 0.33em 1em;
  border-radius: 1em 0.33em 0.33em 1em;
}
div.smio-slidepanel-edge-right .smio-slidepanel-edge-arr {
  -webkit-border-radius: 0.33em 1em 1em 0.33em;
  -moz-border-radius: 0.33em 1em 1em 0.33em;
  border-radius: 0.33em 1em 1em 0.33em;
}
div.smio-slidepanel-edge-right {
  right: 0;
  background: -ms-linear-gradient(left, rgba(250,250,250,0.15), rgba(250,250,250,0.95));
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(250,250,250,0.15)), to(rgba(250,250,250,0.95)));
  background: -moz-linear-gradient(left, rgba(250,250,250,0.15), rgba(250,250,250,0.95));
  background: -webkit-linear-gradient(left, rgba(250,250,250,0.15), rgba(250,250,250,0.95));
  background: -o-linear-gradient(left, rgba(250,250,250,0.15), rgba(250,250,250,0.95));
}
ul.smio-slidepanel {
  list-style-type: none;
}
ul.smio-slidepanel > li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
