$coldark = #303030
$collite = #f0f0f0
$colhilite = rgb(128, 208, 255)
$colhilita = rgba($colhilite, 0.25)

$hairline = 0.094em
$-hairline = -0.094em

smio-select()
	-o-user-select arguments
	-ms-user-select arguments
	-moz-user-select arguments
	-webkit-user-select arguments
	user-select arguments

smio-drag()
	-o-user-drag arguments
	-moz-user-drag arguments
	-webkit-user-drag arguments
	-ms-user-drag arguments
	user-drag arguments

smio-pos-wh(w, h = w)
	width w
	height h

smio-pos-trbl(t, r = t, b = r, l = b)
	top t
	right r
	bottom b
	left l

smio-posabs-rbl(r, b = r, l = b)
	position absolute
	left l
	right r
	bottom b

smio-posabs-tl(t, l = t)
	position absolute
	top t
	left l

smio-posabs-trl(t, r = t, l = r)
	position absolute
	top t
	right r
	left l

smio-posabs-tbw(t, b, w)
	position absolute
	top t
	bottom b
	width w

smio-posrel-lw(l, w = l)
	position relative
	left l
	width w

smio-posrel-tl(t, l = t)
	position relative
	top t
	left l

smio-posrel-tlwh(t, l = t, w = l, h = w)
	position relative
	top t
	left l
	width w
	height h

smio-nowrapflow()
	overflow hidden
	white-space nowrap

smio-narrow()
	letter-spacing -0.05em

smio-narrower()
	letter-spacing -0.08em

smio-lcase()
	text-transform lowercase

smio-animation()
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
	-ms-animation arguments
	animation arguments

smio-transform()
	-moz-transform arguments
	-webkit-transform arguments
	-o-transform arguments
	-ms-transform arguments
	transform arguments

smio-transition()
	-moz-transition arguments
	-webkit-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments

smio-background-ogradient(col1, pc1, col2, pc2, size)
	background col2
	background -ms-linear-gradient(col1 pc1, col2 pc2);
	background -xmoz-linear-gradient(col1 pc1, col2 pc2);
	background -o-linear-gradient(col1 pc1, col2 pc2);
	background -webkit-linear-gradient(col1 pc1, col2 pc2);
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(col1), to(col2))
	background-size size

smio-background-rgradient(col1, col2)
	background col1
	background -webkit-gradient(radial, 3.5 3, 2.5, 3.5 3, 0.25, from(col1), to(col2))
	background -moz-radial-gradient(45% 35% 0deg, circle closest-side, col2, col1)

smio-background-vgradient(col1, col2)
	background -ms-linear-gradient(col1, col2)
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(col1), to(col2))
	background -moz-linear-gradient(col1, col2)
	background -webkit-linear-gradient(col1, col2)
	background -o-linear-gradient(col1, col2)

smio-background-hgradient(col1, col2)
	background -ms-linear-gradient(left, col1, col2)
	background -webkit-gradient(linear, 0% 0%, 100% 0%, from(col1), to(col2))
	background -moz-linear-gradient(left, col1, col2)
	background -webkit-linear-gradient(left, col1, col2)
	background -o-linear-gradient(left, col1, col2)

smio-border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

smio-border-radius-bl()
	-webkit-border-bottom-left-radius arguments
	-moz-border-radius-bottomleft arguments
	border-bottom-left-radius arguments

smio-border-radius-l()
	-webkit-border-bottom-left-radius arguments
	-moz-border-radius-bottomleft arguments
	border-bottom-left-radius arguments
	-webkit-border-top-left-radius arguments
	-moz-border-radius-topleft arguments
	border-top-left-radius arguments

smio-border-radius-r()
	-webkit-border-bottom-right-radius arguments
	-moz-border-radius-bottomright arguments
	border-bottom-right-radius arguments
	-webkit-border-top-right-radius arguments
	-moz-border-radius-topright arguments
	border-top-right-radius arguments

smio-border-radius-br()
	-webkit-border-bottom-right-radius arguments
	-moz-border-radius-bottomright arguments
	border-bottom-right-radius arguments

smio-border-radius-tl()
	-webkit-border-top-left-radius arguments
	-moz-border-radius-topleft arguments
	border-top-left-radius arguments

smio-border-radius-tr()
	-webkit-border-top-right-radius arguments
	-moz-border-radius-topright arguments
	border-top-right-radius arguments

smio-box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

