@import 'include/mixin'
@import 'include/reset'

smio-selection()
	color #f0f0f0
	text-shadow none

::selection
	smio-selection()

::-moz-selection
	smio-selection()

a
	text-decoration none
	color #303030

img
	image-rendering optimizeQuality
	-ms-interpolation-mode bicubic

$bgblack = rgba(0, 0, 0, 0.4)
$bgtrans = rgba(0, 0, 0, 0.1)
$bgwhite = rgba(255, 255, 255, 0.2)

body
	cursor default
	user-select: none;
	color #303030
	margin 0
	font-family Arial, Helvetica, Helvetica Neue, Sans-Serif
	smio-background-bgradient #c09050

.smio-blocking-overlay
	display none
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 2147483640
	text-align center
	padding 18% 8% 8% 8%
	line-height 1.3em
	font-size: 1.7em
	color #f0f0f0
	text-shadow 0 0 0.6em #000000
	smio-narrow()
	smio-background-ogradient rgba(0, 0, 0, 0.5), 25%, rgba(0, 0, 0, 0.7), 75%, 0.25em

