@import 'include/reset'
@import 'include/mixin'

a
	text-decoration none
	color #303030

body
	color #303030
	margin 0px
	background #c0c0c0 url('/_/file/images/bg.png') repeat fixed center center
	overflow hidden
	font-family FreeSans, Arial, Helvetica, Helvetica Neue, Sans-Serif

.smio-main
	height 100%
	overflow hidden

.smio-blocking-overlay
	background rgba(0, 0, 0, 0.6)
	position fixed
	top 0px
	left 0px
	right 0px
	bottom 0px
	z-index 2147483640
	text-align center
	padding 20% 8% 8% 8%
	line-height 1.3em
	font-size: 1.7em
	color #f0f0f0
	text-shadow 0px 0px 0.6em #000000

.smio-console
	text-align center
	overflow hidden

.smio-console-top
	background rgba(255, 255, 255, 0.6)
	smio-box-shadow(0px 0px 12px #000000)
	position fixed
	width 100%
	top 0px

.smio-console-ever
	height: 32px

.smio-console-main
	background rgba(128, 128, 128, 0.4)
	position absolute
	top 32px
	left 0px
	right 0px
	bottom 32px

.smio-console-bottom
	background rgba(0, 0, 0, 0.7)
	color #ffffff
	position fixed
	width 100%
	bottom 0px
	border-top: 1px solid #303030
	smio-box-shadow(0px 0px 16px #303030)

