@import 'include/mixin'
@import 'include/reset'

smio-selection()
	background-color rgba(48, 48, 48, 0.48)
	color #f0f0f0
	text-shadow none

::selection
	smio-selection()

::-moz-selection
	smio-selection()

a
	text-decoration none
	color #303030

img
	image-rendering optimizeQuality
	-ms-interpolation-mode bicubic

body
	cursor default
	user-select: none;
	color #303030
	margin 0
	background #c0c0c0 url('/_/file/images/bg.png') repeat fixed center center
	overflow hidden
	font-family Arial, Helvetica, Helvetica Neue, Sans-Serif

.smio-main
	height 100%
	overflow hidden

.smio-blocking-overlay
	display none
	background rgba(0, 0, 0, 0.6)
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 2147483640
	text-align center
	padding 18% 8% 8% 8%
	line-height 1.3em
	font-size: 1.7em
	color #f0f0f0
	text-shadow 0 0 0.6em #000000
	smio-narrow()

