div.smio-slidepanel
	position relative

div.smio-slidepanel-scrollbox
	overflow hidden
	white-space nowrap

div.smio-slidepanel-edge
	cursor pointer
	position absolute
	top 0.25em
	bottom 0.15em
	width 3em
	overflow hidden
	text-align center

.smio-slidepanel-edge-arr
	white-space nowrap
	margin 9.5em 1em 1em 1em
	padding 0.1em
	text-align center
	smio-border-radius 0.4em
	smio-box-shadow 0em 0.08em 0.25em #909090
	border 0.1em #a0a0a0 outset
	smio-background-vgradient rgba(56, 56, 56, 0.65) rgba(56, 56, 56, 0.85)
	font-size 0.9em
	text-shadow 0 -0.092em #404040
	overflow hidden
	white-space nowrap
	color #f0f0f0
	visibility hidden

div.smio-slidepanel:hover .smio-slidepanel-edge-arr
	visibility visible

div.smio-slidepanel-edge-left
	left 0em
	smio-background-hgradient rgba(250, 250, 250, 0.9) rgba(250, 250, 250, 0.3)

div.smio-slidepanel-edge-right
	right 0em
	smio-background-hgradient rgba(250, 250, 250, 0.3) rgba(250, 250, 250, 0.9)

ul.smio-slidepanel
	list-style-type none

ul.smio-slidepanel > li
	display inline-block
	vertical-align top
	width 100%

