$col = #fe9
$siz = 1.5em

.smio-invwarndetails
	opacity 1
	display inline-block
	z-index 2147483640
	position absolute
	width auto
	height auto
	white-space normal
	margin-left -20px
	line-height 0
	smio-transition all 0.5s

.smio-invwarndetails-edge
	display inline-block
	margin-left 1em
	height 1em
	padding 0 1em 0 1em
	text-align center
	smio-nowrapflow()

.smio-invwarndetails-arr
	background-color $col
	display inline-block
	max-width $siz
	max-height $siz
	smio-posrel-twh(0.5em, $siz)
	smio-transform rotate(45deg)
	smio-nowrapflow()
	smio-box-shadow 0em 0.1em 0.75em #a0a0a0

.smio-invwarndetails-box
	smio-background-vgradient rgba($col, 1) rgba($col, 0.75)
	smio-box-shadow 0em 0.1em 0.75em #a0a0a0
	smio-border-radius 0.5em

.smio-invwarndetails-inner
	line-height 1.25
	font-size 0.8em
	padding 0.66em 0.66em 2em 0.66em

