$slide-grad-base = rgb(250, 250, 250)
$slide-grad-lite = 0.9
$slide-grad-dark = 0.25
$slide-edge-base = rgb(48, 48, 48)
$slide-edge-lite = 0.85
$slide-edge-dark = 0.65

div.smio-slidepanel
	position relative
	smio-nooverflow-nowrap()

div.smio-slidepanel-scrollbox
	smio-nooverflow-nowrap()
	position relative
	width 100%
	left 0
	top 2em

div.smio-slidepanel-edge
	cursor pointer
	text-align center
	smio-posabs-tbw 0.25em 0.15em 3em
	smio-nooverflow-nowrap()

.smio-slidepanel-edge-arr
	padding 0.1em
	smio-posabs-rbl 1em
	text-align center
	smio-box-shadow 0em 0.08em 0.25em #909090
	border 0.092em #a0a0a0 outset
	smio-background-vgradient rgba($slide-edge-base, $slide-edge-dark) rgba($slide-edge-base, $slide-edge-lite)
	font-size 0.9em
	text-shadow 0 -0.092em #404040
	color #f0f0f0
	opacity 0
	smio-transition opacity 0.5s
	smio-nooverflow-nowrap()
	smio-lcase()

div.smio-slidepanel:hover .smio-slidepanel-edge-arr
	opacity 0.7

div.smio-slidepanel-edge:hover .smio-slidepanel-edge-arr
	opacity 1

div.smio-slidepanel-edge:active .smio-slidepanel-edge-arr
	smio-background-vgradient rgba($slide-edge-base, $slide-edge-lite) rgba($slide-edge-base, $slide-edge-dark)

div.smio-slidepanel-edge-left
	left 0
	smio-background-hgradient rgba($slide-grad-base, $slide-grad-lite) rgba($slide-grad-base, $slide-grad-dark)

div.smio-slidepanel-edge-left .smio-slidepanel-edge-arr
	smio-border-radius 1em 0.33em 0.33em 1em

div.smio-slidepanel-edge-right .smio-slidepanel-edge-arr
	smio-border-radius 0.33em 1em 1em 0.33em

div.smio-slidepanel-edge-right
	right 0
	smio-background-hgradient rgba($slide-grad-base, $slide-grad-dark) rgba($slide-grad-base, $slide-grad-lite)

ul.smio-slidepanel
	list-style-type none

ul.smio-slidepanel > li
	display inline-block
	vertical-align top
	width 100%
	smio-nooverflow-nowrap()

