textboxoutline()
	border-bottom $hairline solid transparent
	smio-box-shadow 0 0.07em 0.28em #909090 inset
	smio-border-radius 0.2em

input.smio-textinput
	cursor text
	background transparent
	border 0px none red
	border-bottom $hairline dotted #c0c0c0
	padding 0.25em
	font-weight bold
	smio-select text
	smio-drag auto
	width 12em

input.smio-textinput::-webkit-input-placeholder
	font-weight normal
	font-style italic
	color #c0c0c0

input.smio-textinput:-moz-placeholder
	font-weight normal
	font-style italic
	color #c0c0c0

span.smio-textinput.smio-enabled input.smio-textinput:hover
	textboxoutline()

input.smio-textinput:focus
	font-weight normal
	background #ffffff
	textboxoutline()

input.smio-textinput[readonly]:focus
	background $collite

