$grad_color = rgb(0, 28, 0)
$grad_dark = 0.12
$grad_lite = 0
$colborder = #cccccc
$colbase = #3060a0
$coldark = #204060
$collite = #7090b0

input.smio-toggleinput
	padding 0
	margin 0
	opacity 0
	smio-posabs-tl 0

span.smio-toggleinput
	display: inline-block
	smio-nowrapflow()

span.smio-toggleinput.smio-enabled label, span.smio-toggleinput.smio-enabled input.smio-toggleinput, span.smio-toggleinput.smio-enabled .smio-toggleinput-btnlabel
	cursor pointer

.smio-toggleinput-btn
	position relative
	display inline
	padding 0
	margin 0 0.4em 0 0

.smio-toggleinput-btnbtn
	display inline-block
	border $hairline outset $colborder
	smio-posrel-tlwh 0.125em 0 0.9em
	smio-border-radius 0.2em
	smio-background-vgradient rgba($grad_color, $grad_lite), rgba($grad_color, $grad_dark)

.smio-toggleinput-checked .smio-toggleinput-btnbtn
	smio-background-vgradient rgba($grad_color, $grad_dark), rgba($grad_color, $grad_lite)
	border $hairline inset $colborder

.smio-toggleinput-radio .smio-toggleinput-btnbtn
	smio-border-radius 1em

.smio-toggleinput-btnglyph
	font-size 1.25em
	color $colbase
	smio-posabs-tl -0.15em -0.02em

.smio-toggleinput-radio.smio-toggleinput-checked .smio-toggleinput-btnglyph
	display inline-block
	smio-pos-trbl 21.5%
	smio-border-radius 1em
	smio-background-rgradient $coldark, $collite

.smio-toggleinput-btnlabel
	padding-right 0.4em
	border $hairline outset transparent
	display: inline-block
	smio-nowrapflow()

.smio-toggleinput-focused .smio-toggleinput-btnbtn, .smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn, .smio-enabled.smio-toggleinput-checkbox .smio-toggleinput-btnlabel:hover .smio-toggleinput-btnbtn
	border $hairline outset transparent
	background transparent

.smio-toggleinput-focused, .smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover, .smio-toggleinput-checkbox.smio-enabled .smio-toggleinput-btnlabel:hover
	border $hairline outset $colborder
	smio-border-radius 0.2em
	smio-background-vgradient rgba($grad_color, $grad_lite), rgba($grad_color, $grad_dark)

.smio-toggleinput-radio .smio-toggleinput-focused, .smio-toggleinput-radio.smio-toggleinput-unchecked.smio-enabled .smio-toggleinput-btnlabel:hover
	smio-border-radius 1em

.smio-toggleinput-checked .smio-toggleinput-focused, .smio-toggleinput-checkbox.smio-toggleinput-checked.smio-enabled .smio-toggleinput-btnlabel:hover
	smio-background-vgradient rgba($grad_color, $grad_dark), rgba($grad_color, $grad_lite)
	border $hairline inset $colborder

