smio-background-vgradient(col1, col2)
	background col1
	background -ms-linear-gradient(col1, col2)
	background -moz-linear-gradient(col1, col2)
	background -webkit-linear-gradient(col1, col2)
	background -o-linear-gradient(col1, col2)

smio-background-hgradient(col1, col2)
	background col1
	background -ms-linear-gradient(left, col1, col2)
	background -moz-linear-gradient(left, col1, col2)
	background -webkit-linear-gradient(left, col1, col2)
	background -o-linear-gradient(left, col1, col2)

smio-border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

smio-border-radius-bl()
	-webkit-border-bottom-left-radius arguments
	-moz-border-radius-bottomleft arguments
	border-bottom-left-radius arguments

smio-border-radius-br()
	-webkit-border-bottom-right-radius arguments
	-moz-border-radius-bottomright arguments
	border-bottom-right-radius arguments

smio-border-radius-tl()
	-webkit-border-top-left-radius arguments
	-moz-border-radius-topleft arguments
	border-top-left-radius arguments

smio-border-radius-tr()
	-webkit-border-top-right-radius arguments
	-moz-border-radius-topright arguments
	border-top-right-radius arguments

smio-box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

