html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 1em;
font-family: Helvetica, Arial, Helvetica Neue, FreeSans, Sans-Serif;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
background: url('bg.png') fixed center center;
line-height: 1;
}
.smon-info {
padding: 0.5em;
margin: 0.3em 0.3em 1em 0.3em;
background-color: rgba(255, 255, 204, 0.8);
color: #606060;
font-size: 0.9em;
border-radius: 0.5em;
border: 0.1em solid #909090;
}
fieldset {
padding: 1em;
font-size: 0.9em;
margin-bottom: 1em;
}
fieldset legend {
font-weight: bold;
font-size: 1.1em;
color: #909090;
text-shadow: 0px 1px 1px #f0f0f0;
}
fieldset div {
overflow: hidden;
white-space: nowrap;
}
fieldset div a {
color: #303030 !important;
display: inline-block;
padding: 0.5em;
width: 25%;
overflow: hidden;
white-space: nowrap;
text-decoration: none;
}
fieldset div input.smon-textbox {
width: 70%;
}
fieldset div a:hover {
text-decoration: underline;
}
h1 {
color: #909090;
font-size: 1.25em;
overflow: hidden;
padding-bottom: 1em;
text-shadow: 0px 1px 1px #f0f0f0;
}
.smon-main a, .smon-main a:active, .smon-main a:visited, .smon-main a:hover, .smon-main a:link {
color: green;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.smon-disabled {
color: graytext !important;
cursor: default !important;
text-decoration: none !important;
}
.smon-main {
background: url('smoothio.png') fixed right bottom no-repeat;
color: #303030;
font-size: 0.9em;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
}
.smon-toolbar {
background: rgba(255,255,255,0.6);
-webkit-box-shadow: 0em 0em 1em #606060;
position: absolute;
width: 100%;
top: 0;
height: 2em;
overflow: hidden;
white-space: nowrap;
}
.smon-toolbar-spacer {
display: inline-block;
width: 4%;
}
.smon-toolbar-item {
display: inline-block;
padding: 0.5em 0.25em 0.5em 0.25em;
text-shadow: 0px 1px 1px #f0f0f0;
}
.smon-instnav-info {
position: absolute;
width: 24%;
bottom: 0em;
left: 4%;
color: #606060;
font-size: 0.8em;
padding: 2em 0.5em 2em 0.5em;
text-shadow: 0px 1px 1px #f0f0f0;
}
.smon-instnav-info div {
padding: 0.5em 0 0.5em 0;
}
.smon-instnav {
position: absolute;
width: 24%;
top: 4em;
xbottom: 1.5em;
left: 4%;
}
.smon-instnav ul {
list-style-type: none;
-webkit-box-shadow: 0.5em 0.75em 1em -0.5em #606060;
}
.smon-instnav ul li a {
background: rgba(0,0,0,0.35);
color: #f0f0f0 !important;
display: block;
padding: 0.8em;
text-decoration: none;
border-bottom: 0.1em solid #909090;
border-left: 0.1em solid #909090;
text-shadow: 0px -1px 1px #303030;
}
.smon-instnav ul li a.smon-instnav-active, .smon-instnav ul li a:active, .smon-instnav ul li a:hover {
background: rgba(255,255,255,0.6);
color: #303030 !important;
text-shadow: 0px 1px 1px #f0f0f0;
}
.smon-instnav ul li:first-child a {
border-top: 0.1em solid #909090;
border-top-left-radius: 0.5em;
}
.smon-instnav ul li:last-child a {
border-bottom-left-radius: 0.5em;
}
ul.smon-summary {
margin: 1em 0em 1em 2em;
}
ul.smon-summary li {
padding: 0.5em 0em 0.5em 0em;
}
ul.smon-summary ul {
margin: 0.5em 0em 0.5em 2em;
}
.smon-instbox {
border: 0.1em solid #909090;
border-left: 0px none red;
-webkit-box-shadow: 0.5em 0.75em 1em -0.5em #606060;
background: rgba(255,255,255,0.6);
border-top-right-radius: 0.5em;
border-bottom-right-radius: 0.5em;
padding: 0.7em 1.5em 1.5em 1.5em;
position: absolute;
top: 4em;
left: 28%;
right: 4%;
bottom: 1.5em;
overflow: auto;
}
.smon-instbox p {
line-height: 1.5;
margin-bottom: 1em;
}
.smon-insttabs-row {
text-align: center;
}
.smon-insttabs-row div {
display: inline-block;
}
.smon-insttabs-row div a {
display: block;
padding: 0.5em;
text-decoration: none;
color: #303030 !important;
}
.smon-insttabs-row div a.smon-subnav-active {
font-weight: bold;
}
.smon-insttabs-row div a.smon-subnav-active, .smon-insttabs-row div a:hover, .smon-insttabs-row div a:active {
display: block;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
border-top: 0.1em solid #707070;
color: #f0f0f0 !important;
background: rgba(0,0,0,0.35);
text-shadow: 0px -1px 1px #303030;
-webkit-box-shadow: 0em 0.075em 0.4em -0.1em #606060 inset;
}
.smon-insttabs-tab {
display: none;
}
.smon-insttabs-box {
border: 0 none red;
-webkit-box-shadow: 0em 0.075em 0.4em -0.1em #303030 inset;
background: rgba(0,0,0,0.075);
padding: 1em;
}

