$setup-tcorner = 0
$setup-bcorner = 0.8em
$setup-grad-base = rgb(255, 255, 255)
$setup-grad-dark = 0.5
$setup-grad-tlite = 0.88
$setup-grad-blite = 0.92

$colsetuplite = #909090
$colsetupdark = #606060

div.smio-setup
	smio-box-shadow 0 0.4em 4.8em $colsetuplite
	line-height 1.25
	smio-posabs-trl 0 14%
	smio-nowrapflow()
	smio-border-radius $setup-tcorner $setup-tcorner $setup-bcorner $setup-bcorner

@media only screen and (max-width: 1024px)
	div.smio-setup
		smio-posabs-trl 0 6%

.smio-setup-outer
	padding 1em

.smio-setup-outer-top
	smio-background-vgradient rgba($setup-grad-base, $setup-grad-dark) rgba($setup-grad-base, $setup-grad-tlite)
	smio-nowrapflow()
	smio-border-radius $setup-tcorner $setup-tcorner 0 0

.smio-setup-inner
	background rgba($setup-grad-base, $setup-grad-blite)
	smio-box-shadow 0 0.062em 0.35em #b0b0b0 inset
	padding 0 0.2em 0 0.2em
	smio-nowrapflow()

.smio-setup-header
	font-size 2em
	color #aa4400
	text-shadow 0 0 0.6em #ffffff
	padding-left 1em
	smio-narrow()

.smio-setup-header-detail
	smio-transition opacity 0.5s
	opacity 0

.smio-setup-header-detail:hover, .smio-setup-header-detail:focus
	text-decoration underline
	opacity 1

div.smio-setup:hover .smio-setup-header-detail
	opacity 1

.smio-setup-header-desc
	color #707070
	font-size 1.25em
	text-shadow 0 0.074em #ffffff
	padding-left 4em
	smio-narrow()

.smio-setup-stepslide > .smio-setup-stepbox
	padding 0 0 3em 0
	width 70%

.smio-setup-stepslide .smio-slidepanel-edge
	width 15%

.smio-setup-stepbox-title
	font-size 1.6em
	text-shadow 0.05em 0.05em 0.15em #000
	color #f5f5f5
	font-weight 900
	smio-narrower()
	smio-lcase()

.smio-setup-stepbox-form
	padding 1em 0 0 1.6em
	color $colsetupdark
	white-space normal

.smio-setup-stepbox-form span.smio-textinput
	display block
	width 100%
	padding 0.5em 0 0.5em 0
	white-space nowrap

.smio-setup-stepbox-form-label
	padding 2em 0 0.5em 0
	color $colsetuplite

li#sm_stepslide_items_finish .smio-setup-stepbox-form-label
	padding-top 0

.smio-setup-stepbox-form #sm_stepslide_owner span.smio-toggleinput
	display block
	padding 0.8em 0 0 9em

ul#sm_stepslide_hubhints
	padding-left 6.5em

.smio-setup-stepbox-form span.smio-toggleinput-unchecked
	color $colsetuplite

#sm_stepslide_bg
	display block
	padding 1em 0em

#sm_stepslide_bg .smio-toggleinput-btnlabel
	opacity 0
	width 100%
	height 100%

#sm_stepslide_bg .smio-toggleinput
	margin 0em 0.25em
	background-repeat no-repeat
	smio-transition opacity 0.5s
	background-position 2px 2px
	smio-box-shadow 0em 0.1em 0.66em #606060

#sm_stepslide_bg .smio-toggleinput-hasfocused
	smio-box-shadow 0em 0.1em 0.66em #aa4400

#sm_stepslide_bg .smio-toggleinput-checked
	width 96px
	height 64px
	background-size 92px 60px

#sm_stepslide_bg .smio-toggleinput-unchecked
	opacity 0.5
	width 80px
	height 53px
	background-size 76px 49px

#sm_stepslide_bg .smio-toggleinput-unchecked:hover
	opacity 1

.smio-setup-stepbox-form span.smio-textinput label
	display inline-block
	vertical-align center
	padding 1em 1em 1em 0
	width 8em

.smio-setup-stepbox-form span.smio-textinput label#sm_stepslide_hub_title_label
	width 4em

.smio-setup-stepbox-form span.smio-textinput input#sm_stepslide_hub_title_input
	width 23.5em

.smio-setup-steptabs
	text-align center
	white-space nowrap
	smio-border-radius 0 0 $setup-bcorner $setup-bcorner
	smio-background-vgradient rgba($setup-grad-base, $setup-grad-blite) rgba($setup-grad-base, $setup-grad-dark)

.smio-setup-steptab
	smio-border-radius 1em
	font-size 0.95em
	padding 0.2em 1em 0.2em 1em
	display inline-block
	color $colsetupdark
	text-shadow 0 $hairline #ffffff
	smio-lcase()

.smio-setup-steptab-inactive:hover, .smio-setup-steptab-inactive:focus
	text-decoration: underline

.smio-setup-steptab-active
	cursor default
	smio-box-shadow 0 0.066em 0.3em $colsetupdark inset
	background rgba(0, 0, 0, 0.1)
	color #505050

