div.smio-setup
	position absolute
	top 12%
	left 20%
	right 20%
	smio-box-shadow 0 0.4em 4.8em #909090
	line-height 1.25
	overflow hidden

.smio-setup-outer
	padding 1em

.smio-setup-outer-top
	white-space nowrap
	overflow hidden
	smio-background-vgradient rgba(255, 255, 255, 0.66) rgba(255, 255, 255, 0.88)

.smio-setup-inner
	background rgba(255, 255, 255, 0.95)
	smio-box-shadow 0 0.062em 0.35em #b0b0b0 inset

.smio-setup-header
	font-size 2em
	color #aa4400
	text-shadow 0 0 0.6em #ffffff

.smio-setup-header-desc
	color #707070
	font-size 1.25em
	text-shadow 0 0.074em #ffffff

.smio-setup-stepslide > .smio-setup-stepbox
	padding 1em 0 1em 0
	width 70%

.smio-setup-stepslide .smio-slidepanel-edge
	width 15%

.smio-setup-stepbox-title
	font-size 1.55em
	text-shadow 0.04em 0.04em #c0d0c0
	color #90b090

.smio-setup-stepbox-form
	padding 1em 0 0 3.25em

.smio-setup-steptabs
	smio-background-vgradient rgba(255, 255, 255, 0.95) rgba(255, 255, 255, 0.65)
	text-align center
	white-space nowrap

.smio-setup-steptab
	font-size 0.95em
	padding 0.2em 1em 0.2em 1em
	display inline-block
	color #606060
	text-shadow 0 0.098em #ffffff

.smio-setup-steptab-inactive:hover
	text-decoration underline

.smio-setup-steptab-active
	cursor default
	smio-border-radius 1em
	smio-box-shadow 0 0.066em 0.3em #606060 inset
	background rgba(0, 0, 0, 0.1)
	color #505050

