$setup-grad-base = rgb(255, 255, 255)
$setup-grad-dark = 0.66
$setup-grad-tlite = 0.88
$setup-grad-blite = 0.95

div.smio-setup
	smio-box-shadow 0 0.4em 4.8em #909090
	line-height 1.25
	smio-posabs-trl 12% 20%
	smio-nooverflow-nowrap()

.smio-setup-outer
	padding 1em

.smio-setup-outer-top
	smio-background-vgradient rgba($setup-grad-base, $setup-grad-dark) rgba($setup-grad-base, $setup-grad-tlite)
	smio-nooverflow-nowrap()

.smio-setup-inner
	background rgba($setup-grad-base, $setup-grad-blite)
	smio-box-shadow 0 0.062em 0.35em #b0b0b0 inset
	padding 0 0.2em 0 0
	smio-nooverflow-nowrap()

.smio-setup-header
	font-size 2em
	color #aa4400
	text-shadow 0 0 0.6em #ffffff
	smio-narrow()

.smio-setup-header-desc
	color #707070
	font-size 1.25em
	text-shadow 0 0.074em #ffffff
	smio-narrow()

.smio-setup-stepslide > .smio-setup-stepbox
	padding 1em 0 1em 0
	width 70%

.smio-setup-stepslide .smio-slidepanel-edge
	width 15%

.smio-setup-stepbox-title
	font-size 1.6em
	text-shadow 0.05em 0.05em 0.15em #000
	color #f6f6f6
	font-weight 900
	smio-narrow()
	smio-lcase()

.smio-setup-stepbox-form
	padding 1em 0 0 3.25em

.smio-setup-steptabs
	smio-background-vgradient rgba($setup-grad-base, $setup-grad-blite) rgba($setup-grad-base, $setup-grad-dark)
	text-align center
	white-space nowrap

.smio-setup-steptab
	font-size 0.95em
	padding 0.2em 1em 0.2em 1em
	display inline-block
	color #606060
	text-shadow 0 0.098em #ffffff
	smio-lcase()

.smio-setup-steptab-inactive:hover
	text-decoration underline

.smio-setup-steptab-active
	cursor default
	smio-border-radius 1em
	smio-box-shadow 0 0.066em 0.3em #606060 inset
	background rgba(0, 0, 0, 0.1)
	color #505050

