canvas.smio-canvas3d {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
#sm_ctlpanel {
  background: #f0f0f0;
  padding: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
