canvas.smio-canvas3d {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
#sm_ctlpanel {
  background: #f0f0f0;
  padding: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#sm_ctlpanel input.smio-textinput {
  width: 5em;
}
#sm_ctlpanel img.smio-mapsectortile {
  width: 64px;
  height: 64px;
}
#sm_ctlpanel img.smio-mapsectorbigtile {
  width: 192px;
  height: 192px;
}
#sm_ctlpanel div.smio-mapctl {
  float: left;
  padding: 4px 8px 4px 8px;
}
