{
	"smoothio": {
		"autorestart": { "on_files_changed": true, "on_crash_after_uptime_secs": 120 },
		"logging": { "details": true, "stack": false, "path": "server/log/smoothio.log" },
		"language": "de",
		"dns_preresolve": { "enabled": true, "hostnames": { "localhost": "127.0.0.1", "$localhostname": "127.0.0.1" } },
		"enabled": true,
		"processes": 1,
		"minify": true
	},
	"servers": {
		"server1": { "host": "localhost", "port": 2020 },
		"server2": { "host": "localhost", "port": 4040 }
	},
	"mongodb": {
		"host": "127.0.0.1",
		"port": 61235,
		"dbpath": "server/dbs/",
		"logpath": "server/log/mongodb/mongodb.log"
	}
}